# Core dependencies
pandas==2.1.3
neo4j==5.14.0
python-dotenv==1.0.0
PyYAML==6.0.1

# NLP - используем Spacy
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

# Для визуализации
networkx==3.1
matplotlib==3.7.1

# Утилиты
tqdm==4.66.1
numpy==1.24.3
